.common {
    /* border: 2px solid white; */
    position: absolute;
}
.nav {
    position: relative;
    float: right;
    font-size: 75%;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font size: 50%;
    font-style: italic;
    text-align: center;
    background-color: lightblue;
}
.header{
    /* border: 2px solid white; */
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: -1;
}
/* .content{
    top: 33px;
    left: 10%;
    right: 10%;
    bottom: 30px;
    background-color: rgba(89, 89, 135, 0.5);
} */